@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
	margin:0px;
	padding:0px;
	font-family:"Poppins";
}

body{
	background-color: #f9fbfe;
}

#welcome-section{
	background-image: linear-gradient(to right, 
		rgba(46, 46, 46, 0.7), 
		rgba(15, 15, 17, 0.7)),
		url("foto.jpg");
	display: flex;
	flex-direction: column;
	color: white;
	background-size:cover;
	height:100vh;
	align-items:center;
	justify-content:center;
}
nav{
	background-color:#131313;
	height:60px;
	width:100%;
	position:fixed;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	color:rgb(255, 255, 255);
	z-index:1;
}
nav a{
	font-size:18px;
	margin:0 3% 0 3%;
}
nav a:hover{
	color:#43A047;
	font-weight: bold;
}
main section{
	margin:20px 10% 20px 10%;
	display:grid;
	grid-template:repeat(2,1fr)/repeat(3,1fr);
	grid-column-gap:10px;
	justify-items:center;
}
.main-project p{
	color: #727272;
	font-size: 14px;
	margin-top: 8px;
}
.project-title{
	font-weight: bold;
	color: #303030;
}
.project-tile{
	margin-bottom:80px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.project-tile p{
	word-wrap: break-word;
	width: 250px;
	color: #727272;
	font-size: 14px;
	margin-top: 12px;
	text-align: justify;
}
.project-tile img{
	width: 250px;
}
main{
	padding-top:120px;
	display:flex;
	flex-direction:column;
}

.main-project{
	text-align:center;
	margin-bottom:5%;
}
main button {
	text-align:center;
	border-radius:5px;
	border-color:#353535;
	cursor:pointer;
	box-shadow:none;
	width: 200px;
    height: 60px;
	align-self:center;
	padding:5px 10px 5px 10px;
	margin-bottom:20px;
	color:black;
}
main a,main a:hover,main a:active,main a:focus,main a:visited{
	text-decoration:none;
	color:#969696;
}
main section div a:hover{
	border-radius:5px;
	box-shadow:
		1px 1px 5px,
		1px 1px 10px,
		1px 1px 10px,
		1px 1px 10px;
}
		
a, a:hover, a:active, a:focus, a:visited{
	color:rgb(255, 255, 255);
	text-decoration:none;
}
main section div a img{
	border:solid;
	border-color:#cdcdcd;
	border-width:2px;
	border-radius:10px;
	height:120px;
	width:auto;
	overflow:hidden;
}
footer{
	background-color:#ffffff;
	height:50vh;
	display:flex;
	flex-direction:row;		align-items:center;
	justify-content:space-evenly;
}
footer div a{
	background-color:rgb(0, 0, 0);
	border-radius:50%;
	height:82px;
	width:82px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	align-items:center;
	justify-content:center;
	white-space:pre-line;
	overflow:hidden;
}
footer div a:hover{
	color:#dfdfdf;
	border-radius:50%;
	box-shadow:
	1px 1px 10px,
	-1px 1px 10px,
	-1px 1px 10px,
	-1px 1px 10px;
}
footer div a img{
	border-radius:50%;
}
footer div p{
	text-align:center;
}